body {
    background: #F9F5F6;
}

.screen1 {
    display: block;
    font-family: 'Varela Round', sans-serif;
}

.maincontainer1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: 3px 3px 3px rgb(156, 156, 156);
}


.title > p {
    font-size: 60px;
}

.inputs {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 80px;
}

input { 
    width: 150px;
    padding: 3px 15px;
}

.firstinput, .secondinput {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 40px;
    gap: 10px;
}

.submitButton {
    padding: 3px 20px;
}

input {
    border-bottom-color: rgba(0,0,0,.42);
    box-sizing: border-box;
    width: 100%;
    padding: 20px 16px 6px;
    transition: opacity 150ms cubic-bezier(0.4, 0, 0.2, 1);
    border: none;
    border-bottom: 1px solid;
    border-radius: 4px 4px 0 0;
    background: rgb(245, 245, 245);
    height: 36px;
    font-family: 'Varela Round', sans-serif;
}

input:hover{
    border-bottom-color: rgba(0,0,0,.87);
    background: #ececec;
}
input:focus {
    outline: none;
  }

.submitButton, .backButton{
      align-items: center;
      background-color: #FCFCFD;
      border-radius: 4px;
      border-width: 0;
      box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
      display: inline-flex;
      justify-content: center;
      padding: 10px 30px;
      transition: box-shadow .15s,transform .15s;
      font-size: 18px;
      font-family: 'Varela Round', sans-serif;
}
    
.submitButton:focus, .backButton:focus {
    box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}
    
.submitButton:hover, .backButton:focus {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    transform: translateY(-2px);
}
    
.submitButton:active, .backButton:active {
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(2px);
}


/* Second screen */
.screen2 {
    display: none; /* turns to flex */
    justify-content: space-between;
    padding: 0 250px;
    
}

.playerName1, .playerCounter1, .playerName2, .playerCounter2  {
    display: flex;
    justify-content: center;
    padding: 10px 10px;
    font-size: 28px;
    font-family: 'Varela Round', sans-serif;
}

.player1, .player2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.maincontainer2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

.gameboard {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.gameboard1, .gameboard2, .gameboard3 {
    display: flex;
}

.box {
    display: flex;
    font-size: 80px;
    width: 50px;
    height: 50px;
    border: 2px solid black;
    padding: 40px;
    align-items: center;
    justify-content: center;
    font-family: 'Varela Round', sans-serif;
}

.board0 {
    border-top: none;
    border-left: none;
}

.board1 {
    border-top: none;
}

.board2 {
    border-top: none;
    border-right: none;
}

.board3 {
    border-left: none;
}

.board5 {
    border-right: none;
}

.board6 {
    border-bottom: none;
    border-left: none;
}

.board7 {
    border-bottom: none;
}

.board8 {
    border-right: none;
    border-bottom: none;
}

.disabled {
    pointer-events: none;
}

.zoom-in {
    animation: zoomIn 1s ease forwards;
  }
  
@keyframes zoomIn {
    0% {
        transform: scale(1);
        opacity: 0;
    }
    70% {
        transform: scale(2.3);
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.zoom-in2 {
    animation: zoomIn2 1s ease forwards;
}

@keyframes zoomIn2 {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.zoom-left {
    animation: zoomLeft 1s ease;
}

@keyframes zoomLeft {
    0% {
        transform: translateX(-150%);
    }
    100% {
        transform: translateX(0);
    }
}

.zoom-right {
    animation: zoomRight 1s ease;
}

@keyframes zoomRight {
    0% {
        transform: translateX(150%);
    }
    100% {
        transform: translateX(0);
    }
}

/* Screen 3 */

.screen3 {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.whoWon {
    display: flex;
    font-family: 'Varela Round', sans-serif;
    font-size: 38px;
    padding: 100px 0 0 0;
    margin-bottom: 30px;
    animation: pulse-animation 1s infinite;
}

@keyframes pulse-animation {
	0% {
		transform: scale(0.90);
	}

	70% {
		transform: scale(1);
	}

	100% {
		transform: scale(0.90);
	}
  }